body {
    display: flex;
    font-family: sans-serif;
    text-align: center;
}

playerList,
player,
team {
    display: block;
    flex: 1 1 auto;
}

player {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

team {
    display: flex;
}

.player-display, .team-container {
    flex: 1 1 auto;
}

.player-container {
    min-height: 50px;
    border: 1px solid black;
    padding: 5px;
}

/* .container {
    flex: 1 1 auto;
    border-radius: 5px;
    border: 2px dotted blue;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.component {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
} */