body {
    display: flex;
    font-family: sans-serif;
    text-align: center;
}

.HIDDEN {
    display: none !important;
}

playerList,
player,
team {
    display: block;
}

playerList, team {
    padding: 5px;
    margin: 3px;
    box-shadow: 3px 3px 5px grey;
    border: 1px solid black;
}

player {
    padding: 5px;
    margin: 5px 0;
}

playerList player {
    border-radius: 5px;
    border: 1px solid black;
}

.container {
    display: flex;
}

.flex {
    flex: 1 1 auto;
}

.player-container {
    min-height: 50px;
    border: 1px solid black;
    padding: 5px;
}

.player-display {
    margin: 0 5px;
}